html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100vh;
	padding: 12px;
	font-size: 12pt;
	background-color: #404040;
	color: #fff;
	font-weight: 300;
	overflow: hidden;
}

.background {
	opacity: 0.2;
	pointer-events: none;
	z-index: 9999999;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url('assets/background.gif');
	background-size: cover;
}

::-webkit-scrollbar {
	display: none;
}

a, a:visited, a:focus {
	color: inherit;
	text-decoration: none;
	outline: none;
}

a:not(.action-point__link) {
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;

	&:focus {
		outline: none;
		-webkit-transform: translateX(-0.25em);
		transform: translateX(-0.25em);
	}
}

*::-webkit-scrollbar {
	display: none;
}

@media(min-width: 499px) {
	html, body {
		font-size: 2.5vmin;
	}
}

button {
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;
}

button:focus {
	outline: none;
	-webkit-transform: translateX(-0.25em);
	transform: translateX(-0.25em);
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

.baskerville {
	font-style: italic;
	font-family: 'Libre Baskerville', serif;
}

.cormorant {
	font-family: 'Cormorant Upright', serif;
}

.black-lives-matter__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	padding: 12px;
	width: 100vw;
	height: 100vh;
}

.black-lives-matter {
	width: 100%;
	height: 100%;
	background-image: url('assets/black-lives-matter.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
}

@media(max-aspect-ratio: 1/1) {
	.black-lives-matter__wrapper {
		width: 75vw;
		height: 100vh;
		padding-bottom: 0;
	}
	.black-lives-matter {
		background-repeat: repeat-y;
		background-size: contain;
	}
}

.content__wrapper {
	position: fixed;
	color: inherit;
	text-align: right;
	width: 100%;
	height: 100%;
	max-width: 400px;
	right: 0;
	top: 0;
	padding: 12px;
}

.content__wrapper__inner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.intro {
	font-size: 1.15rem;
}

.intro--0 {
	margin-top: 90px;
}

.list--action-points {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 12px;
	font-size: 2.5rem;
	width: 100%;
	list-style-position: inside;
}
@media(min-width: 400px) {
	.list--action-points {
		font-size: 4rem;
	}
}
@media(min-width: 768px) {
	.list--action-points {
		font-size: 3rem;
	}
}

.action-point {
	white-space: nowrap;
	user-select: none;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1em;
	cursor: pointer;
	-webkit-transition: -webkit-transform 0.4s ease;
	transition: transform 0.4s ease;

	&:hover,
	&:focus {
		-webkit-transform: translateX(-0.25em);
		transform: translateX(-0.25em);
	}
}

.action-point__link,
.action-point__link:focus {
	color: #fff;
	text-decoration: none;
	display: inline-block;
}

.footnote {
	position: absolute;
	bottom: 0;
	padding: 12px;
	font-size: 0.85rem;
	cursor: pointer;
}

.content__middle-section {
	position: absolute;
	top: 50%;
	right: 12px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media(max-height: 549px) {
	.content__middle-section {
		position: static;
		-webkit-transform: none;
		transform: none;
	}
	.footnote {
		position: static;
		padding-right: 0;
	}
	.content__wrapper {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.content__inner {
		height: auto;
	}
	body, html {
		font-size: 11pt;
	}
}

.embed-overlay {
	display: none;
	position: fixed;
	background-color: #404040;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	padding: 12px;
  padding-top: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.embed-overlay-is-active .embed-overlay {
	display: block;
}

.embed-overlay__close-button {
	position: fixed;
	bottom: 12px;
	right: 12px;
	display: block;
	width: auto;
	font-size: 1rem;
	color: #fff;
	background-color: transparent;
	border: none;
	-webkit-appearance: none;
}

.embed-overlay__close-button__inner {
	width: 40px;
	height: 0.45px;
	background-color: #fff;
}

.embed-overlay__close-button__inner--1 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.embed-overlay__close-button__inner--2 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.embed__row {
	margin-bottom: 12px;
	width: calc(100vw - 60px);
}

.embed-text__wrapper {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 6px 12px 12px 12px;
	border-radius: 6px;
	color: #000;
	width: 100%;
	max-height: 120px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

code {
	width: 100%;
}

.copy-button {
	width: 100%;
	margin-top: 0.5em;
	font-size: 0.75rem;
	text-align: left;
	color: #fff;
	padding: 0;
}

@media(min-width: 500px) {
	.embed__row {
		width: 75%;
	}
}

@media(min-width: 768px) {
	.embed__row {
		width: 50%;
		margin-bottom: 36px;
	}
}

.embed-text__wrapper * {
	color: #000;
}

.embed-text__wrapper code::selection,
.embed-text__wrapper code *::selection {
	background-color: #ccc;
}

.embed-text__wrapper code {
	font-size: 9pt;
}

.code__span--indent-1 {
	padding-left: 1em;
	display: block;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1.5em;
}

.code__span--indent-0 {
	display: block;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 1.5em;
}
